
*.suo
*/bin/
*/obj/
*/*/bin/
*/*/obj/
*/*.user
TestResults
packages/*
packages/**/*
/_Chutzpah.coverage.html
*.db
*.user
/**/*.pubxml.user
/*.userprefs
*.cachefile
*/App_Data
*/*.nupkg
*.nupkg
*.snk
*/*.snk
/ResponsivePath.Validation.Web/Scripts/Typescript/*.js
/ResponsivePath.Validation.Web/Scripts/Typescript/*.js.map
