
*.suo
*/bin/
*/obj/
*/*/bin/
*/*/obj/
*/*.user
TestResults
packages/*
packages/**/*
/_Chutzpah.coverage.html
*.db
*.user
/**/*.pubxml.user
/*.userprefs
*.cachefile
*/App_Data
*/*.nupkg
*.nupkg
*.snk
.vs
*/*.snk
**/wwwroot
**/intermediate
**/bower_components
**/node_modules
**/artifacts
*.tmp.txt